
<!--begin:Navbar items-->
<ul class="navbar-nav flex flex-col lg:flex-row bg-white dark:bg-black lg:!bg-transparent w-full p-2 lg:p-0 shadow-lg lg:shadow-none">

  <!--begin:landings-->
  <li class="nav-item group dropdown relative">
    <a class="nav-link dropdown-toggle @@if (context.page === 'home') {active}" href="index.html" role="button"
      data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Landings
      <!--:Arrow:-->
      <span class="dropdown-arrow lg:group-hover:rotate-180 text-xs transition-all inline-block ml-1">
        <i class="bi bi-chevron-down"></i>
      </span>
    </a>
    <div class="dropdown-menu !p-0 overflow-hidden lg:w-[44rem]">
      <div class="overflow-hidden rounded-end">
        <div class="flex flex-wrap mx-0">
          <div class="w-full lg:w-2/5 px-3 relative">
            <div class="py-1 lg:py-3 lg:flex flex-col">
              <a href="index.html" class="dropdown-item">Welcome</a>
              <a href="index-landing-classic.html" class="dropdown-item">Classic Landing</a>
              <a href="index-landing-creative.html" class="dropdown-item">Creative</a>
              <a href="index-landing-agency.html" class="dropdown-item">Agency</a>
              <a href="index-landing-business.html" class="dropdown-item">Business</a>
              <a href="index-landing-startup.html" class="dropdown-item">Startup</a>
              <a href="index-landing-consultancy.html" class="dropdown-item">Consultancy</a>
              <a href="index-landing-saas-webapp.html" class="dropdown-item">Saas WebApp</a>
              <a href="index-landing-personal-portfolio.html" class="dropdown-item">Personal Portfolio</a>
            </div>
          </div>
          <!--/.col-->
          <div class="w-full lg:w-3/5 hidden lg:block rounded-end overflow-hidden px-0 relative bg-no-repeat bg-cover bg-center"
            style="background-image: url('assets/img/960x1140/3.jpg')">
            <div class="absolute rounded-r-lg w-full h-full top-0 left-0 bg-gradient-to-tr from-indigo-500 to-purple-500 opacity-90">
            </div>
            <div
              class="p-4 flex flex-col items-center text-center z-[1] justify-center h-full py-5 relative text-white">
              <h5 class="text-4xl lg:text-5xl font-medium mb-4">Build stunning website ease</h5>
              <p class="mb-5 text-white/75">Over 7000+ users & 7+ years of regular updates</p>
              <a href="#!" class="btn btn-lg bg-white text-gray-700 hover:text-indigo-500">Purchase Now</a>
            </div>
          </div>
          <!--/.col-->
        </div>
        <!--/.row-->
      </div>
    </div>
  </li>
  <!--end:landings-->

  <!--begin:portfolio-->
  <li class="nav-item group dropdown relative">
    <a class="nav-link dropdown-toggle @@if (context.page === 'portfolio') {active}" href="#" role="button"
      data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-auto-close="outside">Portfolio
      <!--:Arrow:-->
      <span class="dropdown-arrow lg:group-hover:rotate-180 text-xs transition-all inline-block ml-1">
        <i class="bi bi-chevron-down"></i>
      </span>
    </a>
    <div class="dropdown-menu">
      <div class="dropend">
        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">
          Classic <i class="bi bi-chevron-right ml-3 text-sm"></i></a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="portfolio-classic-2-col.html">2 Col</a>
          <a class="dropdown-item" href="portfolio-classic-3-col.html">3 Col</a>
          <a class="dropdown-item" href="portfolio-classic-4-col.html">4 Col</a>
          <a class="dropdown-item" href="portfolio-classic-masonry.html">Masonry</a>
        </div>
      </div>
      <div class="dropend">
        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Grid
          Overlay <i class="bi bi-chevron-right ml-3 text-sm"></i></a></a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="portfolio-grid-overlay-2-col.html">2 Col</a>
          <a class="dropdown-item" href="portfolio-grid-overlay-3-col.html">3 Col</a>
          <a class="dropdown-item" href="portfolio-grid-overlay-4-col.html">4 Col</a>
          <a class="dropdown-item" href="portfolio-grid-overlay-masonry.html">Masonry</a>
        </div>
      </div>
      <div class="dropend">
        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Full
          width <i class="bi bi-chevron-right ml-3 text-sm"></i></a></a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="portfolio-full-width-3-col.html">3 Col</a>
          <a class="dropdown-item" href="portfolio-full-width-4-col.html">4 Col</a>
          <a class="dropdown-item" href="portfolio-full-width-masonry.html">Masonry</a>
        </div>
      </div>
      <div class="dropend">
        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Project
          Layouts <i class="bi bi-chevron-right ml-3 text-sm"></i></a></a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="portfolio-case-study.html">Case Study</a>
          <a class="dropdown-item" href="portfolio-single-classic.html">classic</a>
        </div>
      </div>
    </div>
  </li>
  <!--end:portfolio-->

  <!--begin:blog-->
  <li class="nav-item group dropdown relative">
    <a class="nav-link dropdown-toggle @@if (context.page === 'blog') {active}" href="#" role="button"
      data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-auto-close="outside">Blog
      <!--:Arrow:-->
      <span class="dropdown-arrow lg:group-hover:rotate-180 text-xs transition-all inline-block ml-1">
        <i class="bi bi-chevron-down"></i>
      </span>
    </a>
    <div class="dropdown-menu">
      <div class="dropend">
        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Blog
          Layouts <i class="bi bi-chevron-right ml-3 text-sm"></i></a></a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="blog-classic.html">Blog classic</a>
          <a class="dropdown-item" href="blog-standard.html">Blog standard</a>
          <a class="dropdown-item" href="blog-masonry.html">Blog Masonry</a>
          <a class="dropdown-item" href="blog-sidebar.html">Blog Sidebar</a>
          <a class="dropdown-item" href="blog-magazine.html">Blog magazine</a>
        </div>
      </div>
      <div class="dropend">
        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Article
          Layouts <i class="bi bi-chevron-right ml-3 text-sm"></i></a></a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="blog-article-basic.html">Basic</a>
          <a class="dropdown-item" href="blog-article-video.html">Video</a>
          <a class="dropdown-item" href="blog-article-gallery.html">Gallery</a>
          <a class="dropdown-item" href="blog-article-parallax.html">Parallax
            Header</a>
        </div>
      </div>
    </div>
  </li>
  <!--end:blog-->

  <!--begin:pages-->
  <li class="nav-item group dropdown relative">
    <a class="nav-link dropdown-toggle @@if (context.page === 'pages') {active}" href="#" role="button"
      data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-auto-close="outside">Pages
      <!--:Arrow:-->
      <span class="dropdown-arrow lg:group-hover:rotate-180 text-xs transition-all inline-block ml-1">
        <i class="bi bi-chevron-down"></i>
      </span>
    </a>
    <div class="dropdown-menu">
      <div class="dropend">
        <a class="dropdown-item dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" href="#">
          About <i class="bi bi-chevron-right ml-3 text-sm"></i></a></a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="page-about.html">About Company</a>
          <a class="dropdown-item" href="page-about-modern.html">About modern</a>
        </div>
      </div>
      <div class="dropend">
        <a class="dropdown-item dropdown-toggle" href="#" aria-expanded="false" data-bs-toggle="dropdown">
          Services <i class="bi bi-chevron-right ml-3 text-sm"></i></a></a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="page-services.html">Services</a>
          <a class="dropdown-item" href="page-services-modern.html">Services
            Modern</a>
        </div>
      </div>
      <div class="dropend">
        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">
          Career <i class="bi bi-chevron-right ml-3 text-sm"></i></a></a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="page-careers.html">careers</a>
          <a class="dropdown-item" href="page-career-single.html">career single</a>
        </div>
      </div>
      <div class="dropend">
        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">
          Customers <i class="bi bi-chevron-right ml-3 text-sm"></i></a></a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="page-customers.html">Customers</a>
          <a class="dropdown-item" href="page-customer-story.html">Customer Story</a>
        </div>
      </div>
      <div class="dropend">
        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">
          Account <i class="bi bi-chevron-right ml-3 text-sm"></i></a></a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="page-profile.html">Profile</a>
          <a class="dropdown-item" href="page-account-signin.html">Sign In</a>
          <a class="dropdown-item" href="page-account-signin-alt.html">Sign In alt</a>
          <a class="dropdown-item" href="page-account-signup.html">Sign Up</a>
          <a class="dropdown-item" href="page-account-signup-alt.html">Sign Up Alt</a>
          <a class="dropdown-item" href="page-account-forget-password.html">Forget Password</a>
        </div>
      </div>
      <div class="dropend">
        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">
          Misc <i class="bi bi-chevron-right ml-3 text-sm"></i></a></a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="page-misc-error-404.html">Error 404</a>
          <a class="dropdown-item" href="page-misc-coming-soon.html">Coming Soon</a>
          <a class="dropdown-item" href="page-misc-maintenance.html">Maintenance</a>
          <a class="dropdown-item" href="page-misc-success-message.html">Success Message</a>
          <a class="dropdown-item" href="page-misc-policy.html">Privacy Policy</a>
        </div>
      </div>
      <a class="dropdown-item" href="page-pricing.html">Pricing Plans</a>
      <a class="dropdown-item" href="page-faq.html">Faqs</a>
      <a class="dropdown-item" href="page-knowladge-base.html">Knowladge Base</a>
      <div class="dropend">
        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">
          Contact <i class="bi bi-chevron-right ml-3 text-sm"></i></a></a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="page-contact-us-1.html">Contact Us 1</a>
          <a class="dropdown-item" href="page-contact-us-2.html">Contact Us 2</a>
        </div>
      </div>
    </div>
  </li>
  <!--end:pages-->

  <!--begin:components-->
  <li class="nav-item group dropdown static">
    <a class="nav-link dropdown-toggle @@if (context.page === 'components') {active}" href="#" role="button"
      data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components
      <!--:Arrow:-->
      <span class="dropdown-arrow lg:group-hover:rotate-180 text-xs transition-all inline-block ml-1">
        <i class="bi bi-chevron-down"></i>
      </span>
    </a>
    <div class="dropdown-menu left-0 top-full w-full p-0">
     <div class="dropdown-scroll-lg lg:p-4">
      <div class="flex flex-wrap mx-lg-0 justify-content-lg-around">
        <!--Dropdown-grid-Col-->
        <div class="w-full px-3 lg:w-1/4">
          <div class="h-full">
            <div>
              <a class="dropdown-item" href="component-accordion.html">Accordion</a>
              <a class="dropdown-item" href="component-alerts.html">Alerts</a>
              <a class="dropdown-item" href="component-animations.html">Animations</a>
              <a class="dropdown-item" href="component-avatar.html">Avatar</a>
              <a class="dropdown-item" href="component-breadcrumb.html">Breadcrumb</a>
              <a class="dropdown-item" href="component-badge.html">Badge</a>
              <a class="dropdown-item" href="component-blockquote.html">Blockquote</a>
              <a class="dropdown-item" href="component-buttons.html">Buttons</a>
              <a class="dropdown-item" href="component-card-image.html">card image</a>
              <a class="dropdown-item" href="component-card-icon.html">card icon</a>
              <a class="dropdown-item" href="component-call-to-action.html">Call to action</a>
            </div>
          </div>
        </div>

        <!--Dropdown-grid-Col-->
        <div class="w-full px-3 lg:w-1/4">
          <div class="h-full">
            <div>
              <a class="dropdown-item" href="component-colors.html">Colors</a>
              <a class="dropdown-item" href="component-collapse.html">Collapse</a>
              <a class="dropdown-item" href="component-counteup.html">Countup</a>
              <a class="dropdown-item" href="component-count-down.html">Countdown</a>
              <a class="dropdown-item" href="component-clients.html">Clients</a>
              <a class="dropdown-item" href="component-dropdowns.html">Dropdown</a>
              <a class="dropdown-item" href="component-form-components.html">Form components</a>
              <a class="dropdown-item" href="component-grid-system.html">Grid system</a>
              <a class="dropdown-item" href="component-icons-social-brands.html">Icons Social</a>
              <a class="dropdown-item" href="component-icons-bootstrap.html">Icons Bootstrap</a>
              <a class="dropdown-item" href="component-iconsmind.html">Iconsmind</a>
            </div>
          </div>
        </div>
        <!--Dropdown-grid-Col-->
        <div class="w-full px-3 lg:w-1/4">
          <div class="h-full">
            <div>
              <a class="dropdown-item" href="component-isotope-filter.html">Isotope filter</a>
              <a class="dropdown-item" href="component-lightbox.html">Lightbox</a>
              <a class="dropdown-item" href="component-list.html">List</a>
              <a class="dropdown-item" href="component-link.html">Link</a>
              <a class="dropdown-item" href="component-modal.html">Modal</a>
              <a class="dropdown-item" href="component-masonry.html">Masonry</a>
              <a class="dropdown-item" href="component-map-box.html">Map</a>
              <a class="dropdown-item" href="component-navs.html">Navs</a>
              <a class="dropdown-item" href="component-offcanvas.html">Offcanvas</a>
              <a class="dropdown-item" href="component-pagination.html">Pagination</a>
              <a class="dropdown-item" href="component-progress.html">Progress</a>
            </div>
          </div>
        </div>
        <!--Dropdown-grid-Col-->
        <div class="w-full px-3 lg:w-1/4">
          <div class="h-full">
            <div>
              <a class="dropdown-item" href="component-page-header.html">Page Header</a>
              <a class="dropdown-item" href="component-parallax.html">Parallax</a>
              <a class="dropdown-item" href="component-pricing.html">Pricing</a>
              <a class="dropdown-item" href="component-tabbbed-content.html">Tabbed Content</a>
              <a class="dropdown-item" href="component-tooltip.html">Tooltip</a>
              <a class="dropdown-item" href="component-testimonials.html">Testimonials</a>
              <a class="dropdown-item" href="component-timeline.html">Timeline</a>
              <a class="dropdown-item" href="component-typed-text.html">Typed Text</a>
              <a class="dropdown-item" href="component-typography.html">Typography</a>
            </div>
          </div>
        </div>
      </div>
     </div>
    </div>
  </li>
  <!--end:components-->

  <!--begin:features-->
  <li class="nav-item group dropdown static">
    <a class="nav-link dropdown-toggle @@if (context.page === 'features') {active}" href="#" role="button"
      data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Features
      <!--:Arrow:-->
      <span class="dropdown-arrow lg:group-hover:rotate-180 text-xs transition-all inline-block ml-1">
        <i class="bi bi-chevron-down"></i>
      </span>
    </a>
    <div class="dropdown-menu left-0 p-0 w-full">
      <div class="dropdown-scroll-lg lg:p-4">
        <div class="flex flex-wrap mx-lg-0">
          <div class="w-full lg:w-2/5 px-3 mb-4 lg:mb-0">
            <h5 class="text-xs pl-4 text-gray-400 mb-3 pt-3">
              Header & footers Styles <span class="bg-blue-500 text-white text-xs leading-tight inline-block px-2 py-1 ml-2 rounded-full">15+</span></h5>
            <div class="flex flex-wrap -mx-3 g-0">
              <div class="w-full px-3 lg:w-1/2">
                <a href="header-default.html" class="dropdown-item">Default</a>
                <a href="header-info-bar.html" class="dropdown-item">info bar</a>
                <a href="header-no-navbar.html" class="dropdown-item">No Navbar</a>
                <a href="header-sticky-down.html" class="dropdown-item">Sticky down</a>
                <a href="header-sticky-up.html" class="dropdown-item">Sticky up</a>
                <a href="header-sticky-boxed.html" class="dropdown-item">Sticky Boxed</a>
                <a href="header-search-bar.html" class="dropdown-item">Search</a>
              </div>
              <!--/.col-sm-6-->
              <div class="w-full px-3 lg:w-1/2">
                <div class="text-xs pl-4 text-gray-400 mb-3 pt-3">Footer Styles <span class="badge ms-2 bg-info">9+</span></div>
                <a href="footer-1.html" class="dropdown-item">Footer 1</a>
                <a href="footer-2.html" class="dropdown-item">Footer 2</a>
                <a href="footer-3.html" class="dropdown-item">Footer 3</a>
                <a href="footer-4.html" class="dropdown-item">Footer 4</a>
                <a href="footer-5.html" class="dropdown-item">Footer 5</a>
                <a href="footer-6.html" class="dropdown-item">Footer 6</a>
                <a href="footer-7.html" class="dropdown-item">Footer 7</a>
              </div>
            </div>
            <!--/.row-->
          </div>
          <!--/.End col-->
          <div class="w-full lg:w-2/5 px-3 mb-4 lg:mb-0">
            <h5 class="text-xs pl-4 text-gray-400 mb-3 pt-3">
              Hero Covers Slider</h5>
            <div class="flex flex-wrap -mx-3">
              <div class="w-full px-3 lg:w-1/2">
                <a href="hero-simple.html" class="dropdown-item">Hero Simple</a>
                <a href="hero-parallax.html" class="dropdown-item">Hero Parallax</a>
                <a href="hero-parallax-element.html" class="dropdown-item"> Parallax Element</a>
                <a href="hero-fullscreen.html" class="dropdown-item">Hero Fullscreen</a>
                <a href="hero-newsletter.html" class="dropdown-item">Hero Newsletter</a>
                <a href="hero-signup.html" class="dropdown-item">Form SignUp</a>
                <a href="hero-pricing.html" class="dropdown-item">Form Pricing</a>
                <a href="hero-video-button.html" class="dropdown-item">Video popup</a>
                <a href="hero-youtube-video.html" class="dropdown-item">Youtube Video</a>
                <a href="hero-vimeo-video.html" class="dropdown-item">Vimeo Video</a>
                <a href="hero-html5-video.html" class="dropdown-item">HTML5 Video</a>
              </div>
              <div class="w-full px-3 lg:w-1/2">
                <a href="hero-bg-shape.html" class="dropdown-item">BG Shape</a>
                <a href="hero-shape-image.html" class="dropdown-item">Shape Image</a>
                <a href="hero-tiles.html" class="dropdown-item">Image tiles</a>
                <a href="hero-media-player.html" class="dropdown-item">Media Player </a>
                <a href="hero-typed-text.html" class="dropdown-item">Typed Text</a>
                <a href="hero-slider-swiper.html" class="dropdown-item">Swiper slider</a>
                <a href="hero-slider-master.html" class="dropdown-item">Master Slider</a>
                <a href="hero-slider-master-alt.html" class="dropdown-item">Master Slider Alt</a>
                <a href="hero-particles.html" class="dropdown-item">Particles</a>
              </div>
            </div>
          </div>
          <!--/.End col-->
  
          <div class="w-full lg:w-1/5 px-3 mb-4 lg:mb-0">
            <h5 class="text-xs pl-4 text-gray-400 mb-3 pt-3">
              Others</h5>
            <a class="dropdown-item" target="_blank" href="layout-blank.html">layout Blank</a>
           
                
                <a href="feature-sticky-cards.html" class="dropdown-item">Sticky Cards
                  <span class="inline-block ms-2 text-xs px-2 py-1 leading-tight bg-amber-500 text-white rounded-full">New</span>
                </a>
                <a href="feature-image-reveal.html" class="dropdown-item">Image Reveal
                  <span class="inline-block ms-2 text-xs px-2 py-1 leading-tight bg-amber-500 text-white rounded-full">New</span>
                </a>
          </div>
          <!--/.End col-->
        </div>
      </div>
    </div>
  </li>
  <!--end:features-->
</ul>
<!--end:Navbar items-->
