<!--begin:Footer-->
<footer id="footer" class="footer bg-indigo-500 text-white">
    <div class="container pt-12 lg:pt-24 pb-9">
        <div class="flex flex-wrap -mx-3">
            <div class="sm:w-7/12 w-full px-3 mb-4 sm:mb-0">
                <h5 class="mb-7 text-xl leading-normal">1355 Market St, <br> Suite 900,
                    San Francisco<br>
                    CA, 94103</h5>
                @@include('../color-mode.html')
            </div>
            <div class="sm:w-5/12 px-3 w-full sm:text-right">
                <a href="#!" class="text-xl link-hover-underline inline-block relative">+011(1234) 56789</a><br><br>
                <a href="mailto:mail@domain.agency" class="text-xl inline-block relative link-hover-underline">mail@domain.agency</a>
            </div>
        </div>
        <hr class="my-4 border-white/10">
        <div class="flex flex-wrap -mx-3 text-secondary">
            <div class="sm:w-7/12 w-full px-3 mb-5 sm:mb-0">
                <nav class="flex items-center mb-0 gap-3">
                    <a class="link-hover-underline text-white inline-block relative" href="#">Facebook</a>
                    <a class="link-hover-underline text-white inline-block relative" href="#">Twitter</a>
                    <a class="link-hover-underline text-white inline-block relative" href="#">Linkedin</a>
                    <a class="link-hover-underline text-white inline-block relative" href="#">Behance</a>
                </nav>
            </div>
            <div class="w-full px-3 sm:w-5/12 sm:text-right">
                <span class="block text-xs text-white/50">&copy; Copyright
                    <script>
                        document.write(new Date().getFullYear())

                    </script>. Assan
                </span>
            </div>
        </div>
    </div>
</footer>
<!--end:Footer-->
