<!--begin:Footer-->
<footer id="footer" class="relative text-gray-300 bg-black footer">
    <div class="container pt-24 pb-7">
        <div class="flex flex-wrap -mx-3 mb-5">
            <div class="w-full px-3 lg:w-8/12">
                <div class="flex flex-wrap -mx-3">
                    <div class="w-full px-3 md:w-4/12 mb-7">
                        <h5 class="mb-4 text-gray-400">Products</h5>
                        <nav class="flex flex-col space-y-3">
                            <a href="#" class="text-gray-300 hover:text-white">Assan</a>
                            <a href="#" class="text-gray-300 hover:text-white">Airbnb</a>
                            <a href="#" class="text-gray-300 hover:text-white">Codepen</a>
                            <a href="#" class="text-gray-300 hover:text-white">Chrome</a>
                            <a href="#" class="text-gray-300 hover:text-white">Dropbox</a>
                            <a href="#" class="text-gray-300 hover:text-white">Jira</a>
                            <a href="#" class="text-gray-300 hover:text-white">Slack</a>
                            <a href="#" class="text-gray-300 hover:text-white">Zendesk</a>
                        </nav>
                    </div>
                    <div class="w-full px-3 md:w-4/12 mb-7">
                        <h5 class="mb-4 text-gray-400">Resources</h5>
                        <nav class="flex flex-col space-y-3">
                            <a href="#" class="text-gray-300 hover:text-white">Bootstrap</a>
                            <a href="#" class="text-gray-300 hover:text-white">Wrapbootstrap</a>
                            <a href="#" class="text-gray-300 hover:text-white">Babel</a>
                            <a href="#" class="text-gray-300 hover:text-white">Browserify</a>
                            <a href="#" class="text-gray-300 hover:text-white">Greensock</a>
                            <a href="#" class="text-gray-300 hover:text-white">Javascript</a>
                            <a href="#" class="text-gray-300 hover:text-white">Gulp</a>
                            <a href="#" class="text-gray-300 hover:text-white">Sass</a>
                        </nav>
                    </div>
                    <div class="w-full px-3 md:w-4/12 mb-7">
                        <h5 class="mb-4 text-gray-400">Company</h5>
                        <nav class="flex flex-col space-y-3">
                            <a href="#" class="text-gray-300 hover:text-white">About us</a>
                            <a href="#" class="text-gray-300 hover:text-white">Career</a>
                            <a href="#" class="text-gray-300 hover:text-white">Team</a>
                            <a href="#" class="text-gray-300 hover:text-white">Blog</a>
                        </nav>
                        <div class="pt-7">
                            @@include('../color-mode.html')
                        </div>
                    </div>
                </div>

            </div>
            <div class="w-full px-3 lg:w-4/12">
                <div class="px-4 lg:px-7 py-7 border border-gray-700 rounded-xl">
                    <h5 class="mb-4 text-gray-400">Contact</h5>
                    <div class="mb-2"><a href="tel:+1123456789" class="text-lg text-white inline-block relative link-hover-underline">+1 1234 56789</a>
                    </div>
                    <div><a href="mailto:hello@domain.com?subject=Hello!"
                            class="text-lg link-hover-underline inline-block relative text-white">support@domain.com</a>
                    </div>
                    <hr class="my-4 border-gray-800">
                    <h5 class="mb-4 text-gray-400">Have a project?</h5>
                    <a href="#" class="text-lg link-hover-underline inline-block relative text-white"><span>Let's talk with
                            us</span></a>

                    <hr class="my-4 border-gray-800">
                    <h5 class="mb-4 text-gray-400">Follow us</h5>
                    <div class="flex gap-2">
                       <!-- Social button -->
                       <a href="#!" class="w-10 h-10 border relative group overflow-hidden flex items-center justify-center rounded-full hover:bg-[#3b5998] hover:border-[#3b5998] hover:text-white">
                        <i class="bi bi-facebook fs-6 block transition-all group-hover:-translate-y-full group-hover:opacity-0"></i>
                        <i class="bi bi-facebook fs-6 block transition-all translate-y-full opacity-0 absolute group-hover:opacity-100 group-hover:translate-y-0"></i>
                    </a>
                    <!-- Social button -->
                    <a href="#!" class="w-10 h-10 border relative group overflow-hidden flex items-center justify-center rounded-full hover:bg-[#1da1f2] hover:border-[#1da1f2] hover:text-white">
                        <i class="bi bi-twitter-x fs-6 block transition-all group-hover:-translate-y-full group-hover:opacity-0"></i>
                        <i class="bi bi-twitter-x fs-6 block transition-all translate-y-full opacity-0 absolute group-hover:opacity-100 group-hover:translate-y-0"></i>
                    </a>
                    <!-- Social button -->
                    <a href="#!" class="w-10 h-10 border relative group overflow-hidden flex items-center justify-center rounded-full hover:bg-[#0077b5] hover:border-[#0077b5] hover:text-white">
                        <i class="bi bi-linkedin fs-6 block transition-all group-hover:-translate-y-full group-hover:opacity-0"></i>
                        <i class="bi bi-linkedin fs-6 block transition-all translate-y-full opacity-0 absolute group-hover:opacity-100 group-hover:translate-y-0"></i>
                    </a>
                    <!-- Social button -->
                    <a href="#!" class="w-10 h-10 border relative group overflow-hidden flex items-center justify-center rounded-full hover:bg-[#e1306c] hover:border-[#e1306c] hover:text-white">
                        <i class="bi bi-instagram fs-6 block transition-all group-hover:-translate-y-full group-hover:opacity-0"></i>
                        <i class="bi bi-instagram fs-6 block transition-all translate-y-full opacity-0 absolute group-hover:opacity-100 group-hover:translate-y-0"></i>
                    </a>
                    </div>
                </div>
            </div>
        </div>
        <hr class="mt-0 mb-5 border-gray-800">
        <div class="flex flex-wrap -mx-3">
            <div class="w-full px-3 md:w-8/12 mb-2 md:mb-0">
                <div class="flex gap-3 text-sm small">
                    <a href="#" class="text-gray-400 hover:text-white">Privacy Policy</a>
                    <a href="#" class="text-gray-400 hover:text-white">Terms and Conditions</a>
                    <a href="#" class="text-gray-400 hover:text-white">Press kit</a>
                </div>
            </div>

            <div class="w-full px-3 md:w-4/12 md:text-right">
                <span class="block text-xs text-gray-400">&copy; Copyright
                    <script>
                        document.write(new Date().getFullYear())
                    </script>. Assan
                </span>
            </div>
        </div>
    </div>
</footer>
<!--end:Footer-->
