<!--begin:Footer-->
<footer id="footer" class="bg-black text-gray-300 footer relative">
    <div class="container pt-12 lg:pt-16">
        <div class="flex flex-wrap -mx-4">
            <div class="w-full lg:w-3/12 px-4 mb-7 h-full me-auto">
                <!--Title-->
                <h2 class="text-2xl lg:text-3xl leading-[1.25] font-medium text-white mb-0 relative">
                    Work with us
                </h2>
                <div class="pt-3 mb-7">
                    <a class="inline-block relative link-hover-underline text-white text-lg" href="mailto:mail@doamin.com">mail@domain.com</a>
                </div>
                @@include('../color-mode.html')
            </div>
            <div class="w-full lg:w-2/12 md:w-4/12 px-4 mb-7 ms-auto h-full">
                <!--Title-->
                <h6 class="small mb-3 mb-lg-4 text-gray-400">Learn</h6>
                <!--Nav-->
                <ul class="flex flex-col space-y-2 mb-0">
                    <li class="nav-item"><a class="nav-link py-1 block text-white" href="#!">Design</a></li>
                    <li class="nav-item"><a class="nav-link py-1 block text-white" href="#!">Digital</a></li>
                    <li class="nav-item"><a class="nav-link py-1 block text-white" href="#!">Development</a></li>
                    <li class="nav-item"><a class="nav-link py-1 block text-white" href="#!">Branding</a></li>
                    <li class="nav-item"><a class="nav-link py-1 block text-white" href="#!">Graphics</a></li>
                    <li class="nav-item"><a class="nav-link py-1 block text-white" href="#!">Process</a></li>
                </ul>
            </div>
            <!--/.Col-->
            <div class="w-full lg:w-2/12 md:w-4/12 px-4 mb-7 h-full">
                <!--Title-->
                <h6 class="small mb-3 mb-lg-4 text-gray-400">Resources</h6>
                <!--Nav-->
                <ul class="flex flex-col space-y-2 mb-0">
                    <li class="nav-item"><a class="nav-link py-1 block text-white" href="#!">Elements</a></li>
                    <li class="nav-item"><a class="nav-link py-1 block text-white" href="#!">Pricing</a></li>
                    <li class="nav-item"><a class="nav-link py-1 block text-white" href="#!">Features</a></li>
                    <li class="nav-item"><a class="nav-link py-1 block text-white" href="#!">Blog</a></li>
                    <li class="nav-item"><a class="nav-link py-1 block text-white" href="#!">Credits</a></li>
                    <li class="nav-item"><a class="nav-link py-1 block text-white" href="#!">Updates</a></li>
                    <li class="nav-item"><a class="nav-link py-1 block text-white" href="#!">Help center</a></li>
                    <li class="nav-item"><a class="nav-link py-1 block text-white" href="#!">Events</a></li>
                </ul>
            </div>
            <!--/.Col-->
            <div class="w-full lg:w-2/12 md:w-4/12 px-4 mb-7 h-full">
                <!--Title-->
                <h6 class="small mb-3 mb-lg-4 text-gray-400">Company</h6>
                <!--Nav-->
                <ul class="flex flex-col space-y-2 mb-0">
                    <li class="nav-item"><a class="nav-link py-1 block text-white" href="#!">About</a></li>
                    <li class="nav-item"><a class="nav-link py-1 block text-white" href="#!">Awwards</a></li>
                    <li class="nav-item">
                        <a class="nav-link py-1 block text-white" href="#!">Careers
                            <span class="badge badge-pill ms-1 bg-indigo-500 text-xs font-medium rounded-full px-2 py-1 text-white">Hiring</span>
                        </a>
                    </li>
                    <li class="nav-item"><a class="nav-link py-1 block text-white" href="#!">Customers</a></li>
                    <li class="nav-item"><a class="nav-link py-1 block text-white" href="#!">Affiliate</a></li>
                    <li class="nav-item"><a class="nav-link py-1 block text-white" href="#!">Contact us</a></li>
                    <li class="nav-item"><a class="nav-link py-1 block text-white" href="#!">Terms of use</a></li>
                    <li class="nav-item"><a class="nav-link py-1 block text-white" href="#!">Privacy policy</a></li>
                </ul>
            </div>
            <!--/.Col-->
        </div>
        <hr class="mb-5 mt-0 border-gray-800">
    </div> <!-- / .container -->
    <div class="pb-7">
        <div class="container">
            <div class="flex flex-wrap -mx-4 justify-between items-center">
                <div class="flex gap-2 mb-4 md:mb-0 w-full px-4 md:w-6/12">
                    <!-- Social button -->
                    <a href="#!" class="w-10 h-10 border relative group overflow-hidden flex items-center justify-center rounded-full hover:bg-[#3b5998] hover:border-[#3b5998] hover:text-white">
                        <i class="bi bi-facebook fs-6 block transition-all group-hover:-translate-y-full group-hover:opacity-0"></i>
                        <i class="bi bi-facebook fs-6 block transition-all translate-y-full opacity-0 absolute group-hover:opacity-100 group-hover:translate-y-0"></i>
                    </a>
                    <!-- Social button -->
                    <a href="#!" class="w-10 h-10 border relative group overflow-hidden flex items-center justify-center rounded-full hover:bg-[#1da1f2] hover:border-[#1da1f2] hover:text-white">
                        <i class="bi bi-twitter-x fs-6 block transition-all group-hover:-translate-y-full group-hover:opacity-0"></i>
                        <i class="bi bi-twitter-x fs-6 block transition-all translate-y-full opacity-0 absolute group-hover:opacity-100 group-hover:translate-y-0"></i>
                    </a>
                    <!-- Social button -->
                    <a href="#!" class="w-10 h-10 border relative group overflow-hidden flex items-center justify-center rounded-full hover:bg-[#0077b5] hover:border-[#0077b5] hover:text-white">
                        <i class="bi bi-linkedin fs-6 block transition-all group-hover:-translate-y-full group-hover:opacity-0"></i>
                        <i class="bi bi-linkedin fs-6 block transition-all translate-y-full opacity-0 absolute group-hover:opacity-100 group-hover:translate-y-0"></i>
                    </a>
                    <!-- Social button -->
                    <a href="#!" class="w-10 h-10 border relative group overflow-hidden flex items-center justify-center rounded-full hover:bg-[#e1306c] hover:border-[#e1306c] hover:text-white">
                        <i class="bi bi-instagram fs-6 block transition-all group-hover:-translate-y-full group-hover:opacity-0"></i>
                        <i class="bi bi-instagram fs-6 block transition-all translate-y-full opacity-0 absolute group-hover:opacity-100 group-hover:translate-y-0"></i>
                    </a>
                </div>
                <div class="w-full px-4 md:w-1/2 md:text-right">
                    <span class="block text-xs text-gray-400">© Copyright
                        <script>
                            document.write(new Date().getFullYear())

                        </script>. Assan
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--end:Footer-->
