<!--begin:Footer-->
<footer id="footer" class="bg-body footer relative">
    <div class="container relative z-[1]">
        <div class="flex flex-wrap -mx-3 items-stretch">
            <!--Footer col-->
            <div class="w-full md:w-2/5 px-3 md:pr-6 py-9 lg:py-12 border-b md:border-b-0 md:border-r border-gray-200 dark:border-gray-800">
                <div class="flex flex-col h-full">
                    <h6 class="mb-4 font-medium">
                        Join our mail list
                    </h6>
                    <p class="mb-4 opacity-75">Join us today and get 20% off on your first purchase</p>
                    <form>
                        <div class="mb-3">
                            <input type="text" required placeholder="Full name"
                                class="input w-full">
                         </div>
                        <div class="mb-3">
                            <input type="email" required placeholder="Your work Email"
                                class="input w-full">
                           </div>
                           <p class="text-xs leading-[1.3] text-gray-400 mb-3 lg:w-3/5">
                            By clicking on Sign me up, you agree to our <a class="font-medium text-indigo-500 hover:underline"
                                href="#!">Terms and Conditions of Use.</a>
                        </p>
                        <button class="block capitalize font-medium w-full py-2 px-6 text-center bg-indigo-500 text-white rounded-xl hover:bg-indigo-600" type="submit">
                            Sign me up
                        </button>
                    </form>
                   <div class="pt-7">
                    @@include('../color-mode.html')
                   </div>
                </div>

            </div>
            <!--Footer col-->
            <div class="w-full md:w-1/5 px-3 md:pl-6 py-9 lg:py-12 border-b md:border-b-0 md:border-r border-gray-200 dark:border-gray-800">
                <h6 class="mb-4 font-medium">Explore</h6>
                <ul class="nav flex-col">
                    <li class="nav-item">
                        <a href="#" class="nav-link block py-1">
                            Comapny
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link block py-1">
                            News & media
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link block py-1">
                            Customers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link block py-1">
                            Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link block py-1">
                            Career
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link block py-1">
                            Help center
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link block py-1">
                            Privacy & policy
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link block py-1">
                            Terms & conditions
                        </a>
                    </li>
                </ul>
            </div>
            <!--Footer col-->
            <div class="w-full md:w-2/5 px-3 md:pl-6 py-9 lg:py-12">
                <div class="flex flex-col flex-sm-row">
                    <div class="mb-4 flex-grow">
                        <div>
                            <h6 class="mb-4 font-medium">Registered office</h6>
                            <p class="mb-1">
                                <strong class="text-sm">Company, Inc.</strong>
                            </p>
                            <p class="mb-3">
                                1355 Market St, Suite 900<br> San Francisco<br> CA 94103
                            </p>
                        </div>
                    </div>
                    <div class="ps-sm-3 flex-grow">
                        <h6 class="mb-2 font-medium">Hours</h6>
                        <p class="">
                            Office opening hours are 10.00am to 6.00pm
                        </p>
                        <hr class="my-7 dark:border-gray-800 border-gray-200">
                        <p class="block opacity-75 text-sm mb-1">Phone:</p>
                        <a href="#!" class="font-medium text-lg text-indigo-500 hover:underline">+01 1234-56789</a>
                        <br>
                        <p class="block text-gray-400 small mb-1 pt-3">Email:</p>
                        <a href="mailto:mail@email.com"
                            class="font-medium text-lg text-indigo-500 hover:underline">mail@domain.com</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="border-t border-gray-200 dark:border-gray-800">
            <div class="flex flex-wrap -mx-3 py-5">
                <div class="w-3/5 px-3">
                    <div class="dropup relative">
                        <a href="#" data-bs-toggle="dropdown" role="button" aria-expanded="false"
                            class="dropdown-toggle link-light">
                            United States (English)
                        </a>

                        <!--Dropdown lang menu-->
                        <div class="dropdown-menu space-y-1 dropdown-menu-lg-start">
                            <a href="#!" class="flex items-center dropdown-item active">
                                <img src="assets/img/country/us.svg" class="w-6 h-auto mr-2" alt="">
                                United States (English)
                            </a>
                            <a href="#!" class="flex items-center dropdown-item">
                                <img src="assets/img/country/es.svg" class="w-6 h-auto mr-2" alt="">
                                América Latina (Español)
                            </a>
                            <a href="#!" class="flex items-center dropdown-item">
                                <img src="assets/img/country/gb.svg" class="w-6 h-auto mr-2" alt="">
                                United Kingdom (English)
                            </a>
                            <a href="#!" class="flex items-center dropdown-item">
                                <img src="assets/img/country/fr.svg" class="w-6 h-auto mr-2" alt="">
                                France (Français)
                            </a>
                            <a href="#!" class="flex items-center dropdown-item">
                                <img src="assets/img/country/pt.svg" class="w-6 h-auto mr-2" alt="">
                                Italia (Italiano)
                            </a>
                        </div>
                    </div>
                </div>
                <div class="w-2/5 px-3 text-right">
                    <span class="block text-xs opacity-50">&copy; Copyright
                        <script>
                            document.write(new Date().getFullYear())

                        </script>. Assan
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!--container-->
</footer>
<!--end:Footer-->
