<!--begin:Footer-->
<footer id="footer" class="relative footer overflow-hidden bg-white dark:bg-black">
    <div class="container pt-12 lg:pt-16 pb-7">
        <div class="flex flex-wrap -mx-3">
            <div class="w-full px-3 md:w-3/12 sm:w-6/12 mb-7">
                <h5 class="mb-5 text-lg font-medium">We're here</h5>
                <p class="text-gray-600 dark:text-gray-300">124 Monali Street,</p>
                <p class="text-gray-600 dark:text-gray-300">Rosemary,&nbsp; California</p>
                <p class="text-gray-600 dark:text-gray-300 mb-4">302012, USA</p>
                <p class="mb-5">
                    <a href="#!" class="link-underline">View on Map</a>
                </p>
                <p class="mb-0">
                    <h2 data-countup="160000" data-suffix="+"
                        class="text-3xl font-medium mb-2"></h2> <span class="text-gray-400">Users</span>
                </p>
            </div>
            <div class="md:w-4/12 sm:-6/12 w-full px-3 mb-7">
                <h5 class="mb-5 text-lg font-medium">Say g’day</h5>
                <div class="footer-info-details">
                    <p class="mb-3">
                        <a href="mailus@domain.com" class="link-underline">mailus@domain.com</a>
                    </p>
                    <p class="mb-0"><a class="link-underline" href="tel:+1123456789">(01) 1123 56789</a>
                    </p>
                </div>

                <hr class="my-7 border-gray-200 dark:border-gray-900">
                <h6 class="mb-5 text-lg font-medium">Follow us</h6>
                <div class="flex items-center gap-4 mb-7">
                    <!-- Social button -->
                    <a href="#!" class="text-gray-400 hover:text-indigo-500 inline-block">
                        <i class="bi bi-facebook text-xl leading-[1]"></i>
                     </a>
                    <!-- Social button -->
                    <a href="#!" class="text-gray-400 hover:text-indigo-500 inline-block">
                        <i class="bi bi-twitter-x text-xl leading-[1]"></i>
                      </a>
                    <!-- Social button -->
                    <a href="#!" class="text-gray-400 hover:text-indigo-500 inline-block">
                        <i class="bi bi-linkedin text-xl leading-[1]"></i>
                      </a>
                    <!-- Social button -->
                    <a href="#!" class="text-gray-400 hover:text-indigo-500 inline-block">
                        <i class="bi bi-instagram text-xl leading-[1]"></i>
                        </a>
                </div>
                @@include('../color-mode.html')
            </div>
            <div class="md:w-5/12 px-3 w-full mb-7">
                <div class="py-7 px-4 lg:px-6 bg-indigo-500 rounded-2xl text-white">
                    <h3 class="mb-3 text-xl font-medium">Request a free quote</h3>
                    <p class="mb-4 opacity-75">Drop us a line below and we’ll find a way to help you and your team out.
                    </p>
                    <a class="btn btn-lg !rounded-full bg-white text-gray-700 hover:bg-gray-200" href="#!">
                        <i class="bi bi-chat me-2"></i>
                        Chat with us
                    </a>
                </div>
            </div>
        </div>

        <hr class="mb-5 mt-0 border-gray-100 dark:border-gray-900">
        <div class="flex flex-wrap -mx-3 items-center">
            <div class="sm:w-7/12 w-full px-3 mb-4 sm:mb-0">
                <div class="flex text-sm items-center space-x-4">
                    <a class="nav-link" href="#">About</a>
                    <a class="nav-link" href="#">Services</a>
                    <a class="nav-link" href="#">Work</a>
                    <a class="nav-link" href="#">Contact</a>
                </div>
            </div>
            <div class="sm:w-5/12 w-full px-3 sm:text-right">
                <span class="text-gray-400 text-sm">&copy; Copyright
                    <script>
                        document.write(new Date().getFullYear())

                    </script>. Assan
                </span>
            </div>
        </div>
    </div>
</footer>
<!--end:Footer-->
